.search-form {
  .select-dropdown.dropdown-trigger {
    display: inline;
    width: inherit;
  }

  .select-wrapper {
    display: inline;
  }

  .dropdown-content.select-dropdown {
    left: 0;
  }
}
