
<div id="portfolio" class="cx gray">
  <div class="db">
    <div class="b e">
      <% @images.each do |image| %>
        <%= render partial: 'images/result_card', locals: { image: image } %>
      <% end %>

      <% if @images.empty? %>
        No images found with these aesthetics.
      <% end %>
    </div>
  </div>
</div>
