<nav class="nav-extended">
  <div class="nav-background">
    <div class="ea k" style="background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?8832195377581716423');"></div>
  </div>
  <div class="nav-wrapper db">
    <div class="nav-header de">
      <h1><%= link_to 'Name TBD', root_path, class: 'white-text' %></h1>
      <div class="ge">imagination augmentation</div>
    </div>
  </div>

  <div class="categories-wrapper af lighten-1">
    <div class="categories-container">
      <ul class="categories db">
        <% (params.keys - ["controller", "action"]).each do |param| %>
          <% next if params[param].empty? %>
          <li>
            <div class="chip">
              <%= link_to params.permit!.except(param), class: 'white-text', style: "display: inline" do %>
                <%= "[Remove #{param}: #{params[param]}]" %>
                <i class="close material-icons" style="display: inline; position: relative; top: 7px">close</i>
              <% end %>
            </div>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>
